*
{
                          margin:0;
                          padding:0;

}
body
{
                          top:100%;
                          width:100%;
                          height:100vh;
box-sizing:border-box ;
font-family:sans-serif;

}
.menu-bar
{
   background:rgb(76, 159, 76);
   text-align: center;

}
.menu-bar ul
{
                          display:inline-flex;
                          list-style:none;
                          color:#fff;
                          
}
.menu-bar ul li{
                          width:120px;
                          margin:15px;
                          padding:15px;
}
.menu-bar ul li a{
                          text-decoration: none;
                          color: #fff;

}
.active, .menu-bar ul li:hover 
{
                          background: #104d03fe;
                          border-radius:3px;

}
.menu-bar.fa
{
                          margin-right:8px;

}
.sub-menu-1  
{
                          display:none;
}
.menu-bar ul li:hover .sub-menu-1
{
                          display:block;
                          position: absolute;
                          background: rgb(93, 178, 93);
                          margin-top:15px;
                          margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
                          display:block;
                          margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{

                          width:150px;
                          padding:10px;
                          border-bottom: 1px dotted #fff;
                          background:transparent;
                          border-radius:0;
                          text-align: left;

}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
                          border-bottom:none;
-
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
          color: rgb(125, 46, 46);              
}
.heading h2
{
                          font-style: oblique;

}
.picture img
{   border:rgb(126, 174, 139);
    float:left;
    margin-right:30px;
}
.picture h1 
{  
    text-align: left;
    font-style: italic;
     
}
.seeds img 
{
    border:rgb(126, 174, 139);
    float:right;
    margin-right:30px;
}


.seeds h1
{   
    
    font-style: italic;
     
}

.larger img
{
    
{   
    float:left;
    margin-right:30px;
}

.larger h1
{  
    top:50%;
    font-style: italic;
    margin:150px;
     
}
}