*
{
margin:0;
padding:0;
font-family: sans-serif;
}
.navbar
{
width:85%;
margin:auto;
padding:35px 0;
display: flex;
align-items: center;
justify-content:space-between;
}

.logo
{
  
width: 700px;
cursor: pointer;
}

.navbar ul li{
  
list-style:none;
display:inline-block;
margin: 0 40px;

} .navbar ul li a
{font-size:120px;
  font-style: italic;
text-decoration:none;
color:#096324;
text-transform: uppercase;
}

.links
{
  font-style: italic;
  color: blue;
  position: absolute;
  top: 20px;
  right: 20px;

}



